@page
@model MessangerWebApp.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Connect to Messages</h1>

<form method="get" asp-page="Messanger">
    <input name="name" />
    <button>Submit</button>
</form>