@page
@model MessangerWebApp.MessagesModel
@{
    Layout = null;
}
@foreach (Models.Message message in Model.Messages)
{
    <div class="Message" style="display: flex;">
        <div class="MessageContent" style="padding: 5px;">@message.Content</div>
        <div class="MessageAuthor" style="padding: 5px;">@message.Author</div>
    </div>
}