@page
@model MessangerWebApp.MessagesModel
@{
    Layout = null;
    int end;
    if (Model.Messages.Count < 10)
        end = 0;
    else
        end = Model.Messages.Count - 10;
}
@for(int i = Model.Messages.Count - end; i > 0; i--)
{
    <div class="Message" style="display: flex;">
        <div class="MessageContent" style="padding: 5px;">@Model.Messages[i - 1].Content</div>
        <div class="MessageAuthor" style="padding: 5px;">-@Model.Messages[i - 1].Author</div>
    </div>
}